.mid{

	margin-left: auto;
    margin-right: auto;
}

.blocks{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUMEJgQRBnXEpHUsZUOGwgmSczcuvcrggqAdPTtwekN-DyCgNfhQ");
}

.time{
	width:101%;
	height:101%;
}

.box{

	width:70%;
	margin:auto;
}

.center{
	margin:auto;
}

#mail1{
	width:70px;
	height:70px;
}

#mail2{
	width:70px;
	height:70px;
}


#js-scroll-trigger2{
	visibility:visible;
}

#beginning{
	font-size:90%;
}

#activities{
	width:200px;
	height:200px;
}

#hat{
	width:150px;
	height:150px;
	
}

#top{
	visibility:hidden;
} 



